@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Castom styles */

:root {
  --font-main: Roboto, sans-serif;
  --primary-color: #1992d4;
  --secondary-color: #e2e8f0;
  --tertiary-color: #f0b429;
  --text-color: #636363;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #333333;
}

body {
  height: 100vh;
  font-family: var(--font-main);
}

.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.sidebar-title {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 2.25rem;
  margin-bottom: 55px;
}

.sidebar-title::before {
  content: '';
  width: 48px;
  height: 48px;
  background-image: url('./assets/images/dashboard-icon.svg');
  background-repeat: no-repeat;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  background-color: var(--white-color);
}

.content {
  grid-area: 2 / 2 / -1 / -1;
  background-color: var(--secondary-color);
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);

  h2 {
    margin-bottom: 10px;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
    border: 3px solid var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-color);
  }
}

/* Sidebar */

.menu {
  margin-bottom: 55px;
}

.menu-item {
  margin-left: 10px;
  font-size: 1.25rem;
  margin-bottom: 15px;

  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    padding-bottom: 5px;
  }

  a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
  }

  a:hover::after {
    width: 100%;
    left: 0;
  }

  .menu-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
  }
}

/* Header styles */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'search-bar user-info'
    'user-greating actions';
  gap: 20px 30px;
  padding: 20px 50px 20px 30px;
}

.search-bar {
  grid-area: search-bar;
  display: flex;
  align-items: center;
  column-gap: 15px;

  input {
    width: 100%;
    appearance: none;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1;
  }

  input:focus {
    outline-color: var(--primary-color);
  }

  &::before {
    content: '';
    width: 30px;
    height: 100%;
    background-image: url('./assets/images/magnify.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.user-info {
  grid-area: user-info;
  justify-self: end;
  align-self: center;
  display: flex;
  gap: 10px;
  align-items: center;

  .notifications-button {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
      transition: transform 0.3s ease;
    }

    &:hover svg {
      transform: rotate(20deg);
    }
  }

  .notifications-button:focus {
    outline: 2px solid var(--primary-color);
  }

  .user-name {
    min-width: max-content;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .user-avatar {
    width: 50px;
    border-radius: 50%;
  }
}

.user-greating {
  grid-area: user-greating;
  display: grid;
  grid-template-columns: 85px auto;
  grid-template-rows: repeat(2, auto);
  column-gap: 10px;
  align-items: center;

  img {
    grid-area: 1 / 1 / 3 / 2;
  }

  p {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
  }

  strong {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.actions {
  grid-area: actions;
  justify-self: end;
  align-self: center;
  display: flex;
  gap: 20px;
}

.action-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  width: 100px;
  padding: 7px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-btn:focus {
  outline: 2px solid var(--gray-color);
}

.action-btn:hover {
  background-color: #10618d;
}

.action-btn:active {
  background-color: #36aff0;
}

/* Content styles */

.content {
  display: grid;
  grid-template-columns: 1fr 250px;
  column-gap: 30px;
  padding: 40px 40px 60px 20px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: var(--white-color);
  border-radius: 10px;
  border-left: 8px solid var(--tertiary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-description {
  margin-bottom: 10px;
  color: var(--text-color);
}

.project-controls {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  margin-top: auto;
  margin-right: 10px;

  button {
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.control-button {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--gray-color);
  border-radius: 50%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

.control-button:hover,
.control-button:focus {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

.control-button:focus {
  outline: 2px solid var(--primary-color);
}

/* Aside block */

.aside-inner {
  margin-bottom: 30px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;

  h3 {
    font-size: 1rem;
  }

  p {
    color: var(--text-color);
  }
}

.announcements-list {
  li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li + li {
    border-top: 2px solid var(--secondary-color);
  }

  p {
    font-size: 0.75rem;
  }

  a:hover {
    color: var(--primary-color);
  }

  a:active {
    color: var(--black-color);
  }
}

.trending-projects {
  display: grid;
  row-gap: 20px;
}

.trending-project-link {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'avatar project-nick'
    'avatar project-name';
  column-gap: 10px;
  align-items: center;
  padding: 5px;

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 2px solid var(--primary-color);
  }
}

.project-author-avatar {
  grid-area: avatar;
  justify-self: center;
}

.project-author-nick {
  grid-area: project-nick;
  font-size: 0.8rem;
  font-weight: 700;
}

.project-name {
  grid-area: project-name;
  font-size: 0.9rem;
}
